# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Any Compressed Archieves
# *.zip
# *.rar
# *.7z
# *.tar
# *.tar.*

# VSCode
*.json

*.fdb_latexmk
*.fls

# LaTeX
*.aux
*.synctex.gz
*.log
*.toc

*.in
*.in*
*.out
*.out*
*.ans
*.ans*
*.result
*.result*
result_overview.txt
/__pycache__/
*.pyc
config
*.DSYM/*